h1{
	color:#b31b82;
}
h2{
	color: #2cab38
}

h3{
	color:grey;
	font-size:22px

}

h4{
	font-size:22px;
	color:#bdd8e8;
}

body{
	background-color:#403a3b;
}

p{  color:#d0217f;
	font-size:19px;

}
ul{
	color:orange;
	font-size:20px;
}

.lin{
	text-align: center
	
}
.pictures{
	text-align: center
}

a{
	color:white; 
	font-size: 20px
}

audio{
	max-width: 200px

}

