h1{
	text-align: center;
	color:#9e5683;
}

.img{
	text-align: center;
}

p{
	font-family: cursive;
	color:#6b0e0e;
	font-size:19px;
}
h2{color:#FFC107;
	font-size: 25px

}

h3{
	color:#c1daff;
	font-size: 25px
}

h4{
	color:#2f270f;
	font-size: 25px 
}

ol{
	color:#aadbe4;
	font-size:20px;
}

ul{
	color:#f7d5d5;
	font-size:20px;
}

body{
	background-image: url("au.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}


a{  
	color:white;
	font-size: 20px
}
video{
	
	max-width:2000px;


}